
.site-content nav {
  clear: both;
  /*line-height: 2;*/
  overflow: hidden;
}

.site {
  padding: 0 24px;
  padding: 0 1.714285714rem;
  background-color: rgba(255, 255, 255, 0.20); /* Main Page */
}
.site-content {
  margin: 24px 0 0;
  margin: 1.714285714rem 0 0;
}
.widget-area {
  margin: 24px 0 0;
  margin: 1.714285714rem 0 0;
}

/* Header */
.site-header {
  padding: 24px 0;
  padding: 1.714285714rem 0;
}
.site-header h1,
.site-header h2 {
  text-align: center;
}

.site-header h1 a,
.site-header h2 a {
  color: #515151;
  display: inline-block;
  text-decoration: none;
}
.site-header h1 a:hover,
.site-header h2 a:hover {
  color: rgb(81, 156, 158); /* Main Title Hover */
}
.site-header h1 {
  /*font-size: 24px;*/
  /*font-size: 1.714285714rem;*/
  /*line-height: 1.285714286;*/
  margin-bottom: 14px;
  margin-bottom: 1rem;
}
.site-header h2 {
  font-weight: normal;
  /*font-size: 13px;
  font-size: 0.928571429rem;*/
  /*line-height: 1.846153846;*/
  color: #757575;
}

.site-content article {
    /* Border Line for Article Bottom*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  margin-bottom: 72px;
  margin-bottom: 5.142857143rem;
  padding-bottom: 24px;
  padding-bottom: 1.714285714rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


@media screen and (min-width: 600px) {
  .site {
    margin: 0 auto;
    max-width: 960px;
    max-width: 68.571428571rem;
    overflow: hidden;
  }
}

@media screen and (min-width: 960px) {
  body {
    background-color: #e6e6e6;
  }
  body .site {
    padding: 0 40px;
    padding: 0 2.857142857rem;
    margin-top: 48px;
    margin-top: 3.428571429rem;
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.65);
  }
}

.markdown-body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

body {
	color: #333;
	background-color: #fff;
}

.markdown-body::after {
    height: 25px;
}

.markdown-body .highlight {
	margin: 0px;
}

.markdown-body .highlight > table > tbody > tr {
	border: medium none;
}

.markdown-body .code {
	padding: 0px;
	border: medium none;
}